const { gql } = use('Addons/Apollo/Utils');


// A schema is a collection of type definitions (hence "typeDefs")
// that together define the "shape" of queries that are executed against
// your data.

const typeDefs = gql`
    type URL @specifiedBy 
`

module.exports = {
    typeDefs: typeDefs
};